<div class="d-flex justify-content-around">
    <a href="#" class="text-primary"><i class="fas fa-home"></i> Home</a>
    <a href="#" class="text-primary"><i class="fas fa-tools"></i> Services</a>
    <a href="#" class="text-primary"><i class="fas fa-calendar-alt"></i> Bookings</a>
    <a href="#" class="text-primary"><i class="fas fa-wallet"></i> Wallet</a>
    <a href="#" class="text-primary"><i class="fas fa-user"></i> Profile</a>
</div>