@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeService</title>
    <link rel = "stylesheet" href = "~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel = "stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel = "stylesheet" href="~/css/rtl.css" asp-append-version="true" />
    <link rel = "stylesheet" href="~/App.EndPoints.MVC.styles.css" asp-append-version="true" />
    @RenderSection("Styles",required:false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">خدمات منازل</a>
                <button class="navbar-toggler" type = "button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Account" asp-controller="Account" asp-action="Login">ورود | ثبت نام </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>© تمامی حقوق محفوظ است</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@

﻿<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goodup - قالب ثبت آگهی و دایرکتوری HTML</title>

    <!-- Favicon -->
    <link rel = "shortcut icon" type = "image/x-icon" href = "~/HomePage/assets/img/favicon.png">

    <!-- Custom CSS -->
    <link href = "~/HomePage/assets/css/styles.css" rel = "stylesheet">
</head>


<body dir="rtl">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light dark-text">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="~/HomePage/assets/img/logo.jpg" class="logo" alt="" style="width: 50px; height: auto;" />
                        </a>

                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li class="active">
                                <a href="javascript:void(0);"> صفحه اصلی </a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a >صفحه اصلی</a></li>
                                    <li><a > زیر دسته بندی</a></li>
                                    <li><a > خدمات</a></li>
                                </ul>
                            </li>



                            <ul class="navbar-nav me-auto" style="display: flex; flex-direction: row;">
                                <li class="nav-item" style="margin-right: 1rem;">
                                    <a asp-area="Account" asp-controller="Account" asp-action="Login" class="nav-link text-dark"  style="color: #000;">
                                        <i class="fas fa-sign-in-alt me-2"></i> ورود
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Account" asp-controller="Account" asp-action="Register" class="nav-link text-dark" style="color: #000;">
                                        <i class="fas fa-user-plus me-2"></i> ثبت نام
                                    </a>
                                </li>
                            </ul>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <!-- ============================ Footer Start ================================== -->
    <footer class="light-footer skin-light-footer style-2">
        <div class="footer-middle">
            <div class="container">
                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="footer_widget">
                            <img src="assets/img/logo.jpg" class="img-footer small mb-2" alt="" />

                            <div class="address mt-2">
                                
                            </div>
                            <div class="address mt-3">
                                09913466961<br>support@Goodup.com
                            </div>
                            <div class="address mt-2">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#" class="theme-cl"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="theme-cl"><i class="lni lni-twitter-filled"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="theme-cl"><i class="lni lni-youtube"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="theme-cl"><i class="lni lni-instagram-filled"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="theme-cl"><i class="lni lni-linkedin-original"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <div class="footer_widget">
                            <h4 class="widget_title"> راهنمای سایت</h4>
                            <ul class="footer-menu">
                                <li><a href="#"> لیست آگهی</a></li>
                                <li><a href="#">لیست آگهی دهنده</a></li>
                                <li><a href="#">افزودن آگهی</a></li>
                                <li><a href="#">تماس با ما</a></li>
                                <li><a href="#">پیشخوان</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <div class="footer_widget">
                            <h4 class="widget_title">حساب کاربری</h4>
                            <ul class="footer-menu">
                                <li><a href="#">سایر دسته بندی</a></li>
                                <li><a href="#">لینک پرداخت</a></li>
                                <li><a href="#">لیست علاقه مندی</a></li>
                                <li><a href="#">تنظیمات</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <div class="footer_widget">
                            <h4 class="widget_title">درباره شرکت</h4>
                            <ul class="footer-menu">
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">وظایف ما</a></li>
                                <li><a href="#">کارشناسان</a></li>
                                <li><a href="#">پکیج ها</a></li>
                                <li><a href="#">پروفایل من</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <div class="footer_widget">
                            <h4 class="widget_title">لینک های مفید</h4>
                            <ul class="footer-menu">
                                <li><a href="#">نقشه سایت</a></li>
                                <li><a href="#">حریم شخصی</a></li>
                                <li><a href="#">تماس با ما</a></li>
                                <li><a href="#">سوالات متداول</a></li>
                                <li><a href="#">قوانین سایت</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom br-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12 text-center">
                        <p class="mb-0">© 2022 Goodup ارائه شده در سایت <a href="https://rtl-theme.com/">راست چین</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/HomePage/assets/js/jquery.min.js"></script>
    <script src="~/HomePage/assets/js/popper.min.js"></script>
    <script src="~/HomePage/assets/js/bootstrap.min.js"></script>
    <script src="~/HomePage/assets/js/slick.js"></script>
    <script src="~/HomePage/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/HomePage/assets/js/dropzone.js"></script>
    <script src="~/HomePage/assets/js/counterup.js"></script>
    <script src="~/HomePage/assets/js/lightbox.js"></script>
    <script src="~/HomePage/assets/js/moment.min.js"></script>
    <script src="~/HomePage/assets/js/daterangepicker.js"></script>
    <script src="~/HomePage/assets/js/lightbox.js"></script>
    <script src="~/HomePage/assets/js/jQuery.style.switcher.js"></script>
    <script src="~/HomePage/assets/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>