@model App.Domain.Core.DTOs.ServiceRequestDto.CreateServiceRequestDto;

@{
    Layout = "_Layout";
}


@{
    var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
    <p class="btn btn-success">@message</p>
}

<div id="requests" class="card shadow-sm mb-4">
    <div class="card-header bg-light">
        <h5>ارسال درخواست برای خدمات</h5>
    </div>
    <div class="card-body">
        <form asp-action = "AddServiceRequest" method="post">
            <div class="form-group mb-3">
                <div class="form-group">
                    <label class="mb-1">انتخاب سرویس</label>
                    <select asp-for="ServiceId" class="form-control">
                        @foreach (var service in ViewBag.Services)
                        {
                            <option value="@service.Id">@service.Title - قیمت @service.Price</option>
                        }
                    </select>
                </div>
            </div>
            <div >
                <label class="form-label">عنوان درخواست</label>
                <input type="text" class="form-control" name="Title" placeholder="عنوان درخواست" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label">توضیحات</label>
                <textarea class="form-control" name="Description" rows="3" placeholder="توضیحات درخواست"></textarea>
            </div>
             <div class="form-group">
                        <label class="mb-1">تاریخ</label>
                        <input asp-for="BookingDate" data-jdp data-jdp-min-date="today" class="form-control rounded" />
                        <span asp-validation-for="BookingDate" class="text-danger"></span>
                    </div>
            <button type="submit" class="btn btn-success">ارسال درخواست</button>
        </form>
    </div>
</div>

<script>
    jalaliDatepicker.startWatch({
        minDate: "attr",
        maxDate: "attr",
        minTime: "attr",
        maxTime: "attr",
        hideAfterChange: true,
        autoHide: true,
        showTodayBtn: true,
        showEmptyBtn: true,
        topSpace: 10,
        bottomSpace: 30,
        time: true,
        dayRendering(opt, input) {
            return {
                isHollyDay: opt.day == 1
            }
        }
    });

    document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });


</script>



