@model App.Domain.Core.DTOs.ServiceRequestDto.CreateServiceRequestDto

@{
    ViewData["Title"] = "Submit Request";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@{
    var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
    <p>message</p>
}
<div id="requests" class="card shadow-sm mb-4">
    <div class="card-header bg-light">
        <h5>ارسال درخواست برای خدمات</h5>
    </div>
    <div class="card-body">
        <form asp-action = "submitRequest" method="post">
            <div class="col-md-4 mb-3">
                <div class="card service-card small-card text-center h-100">
                    <div class="card-body p-2">
                        <div class="service-icon mb-2">
                            <i class="fas fa-broom fa-2x text-success"></i>
                        </div>
                        <h5 class="card-title small"> @ViewBag.Service.Title</h5>
                        <p class="card-text small"> @ViewBag.Service.Description</p>
                        <p class="card-text small"> قیمت: @ViewBag.Service.Price.ToString("N0") IRR</p>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">عنوان درخواست </label>
                <input type="text" class="form-control" name="Title" placeholder="عنوان درخواست" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label">توضیحات</label>
                <textarea class="form-control" name="Description" rows="3" placeholder="توضیحات درخواست"></textarea>
            </div>
             <div class="form-group">
                        <label class="mb-1">تاریخ</label>
                        <input asp-for = "BookingDate" data-jdp data-jdp-min-date="today" class="form-control rounded" />
                        <span asp-validation-for = "BookingDate" class="text-danger"></span>
                    </div>
            <button type="submit" class="btn btn-success">ارسال درخواست</button>
        </form>
    </div>
</div>


<script>
    jalaliDatepicker.startWatch({
        minDate: "attr",
        maxDate: "attr",
        minTime: "attr",
        maxTime: "attr",
        hideAfterChange: true,
        autoHide: true,
        showTodayBtn: true,
        showEmptyBtn: true,
        topSpace: 10,
        bottomSpace: 30,
        time: true,
        dayRendering(opt, input) {
            return {
                isHollyDay: opt.day == 1
            }
        }
    });

    document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });


</script>


