@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">افزایش موجودی</h2>

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            <form method="post" asp-action="UpdateBalance">
                <div class="form-group">
                    <label for = "Balance">مقدار افزایش موجودی</label>
                    <input type = "number" class = "form-control" name = "balance" id = "balance" value = "100" min = "100.01" step="0.01" required />
                </div>
                <button type="submit" class="btn btn-primary mt-3">افزایش موجودی</button>
            </form>
        </div>
    </div>
</div>
