@model App.Domain.Core.Entities.Services.Service

@{
    ViewData["Title"] = "Edit Service";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>ویرایش خدمات</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label">عنوان</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">توضیحات</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">قیمت</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubCategoryId" class="control-label">دسته بندی فرعی</label>
        <select asp-for="SubCategoryId" class="form-control">
            <option value="">انتخاب کنید</option>
            @foreach (var item in ViewBag.SubCategories)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
        <span asp-validation-for="SubCategoryId" class="text-danger"></span>
    </div>
   <div class="form-group relative">
                            <input asp-for="Image" type="file" class="form-control">
                            <label>آپلود عکس</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">اعمال تغییرات</button>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> بازگشت
    </a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
