<div id="sidebar">
    <div class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li class="open active conditional-bg">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span>پنل ادمین</span>
                </a>
                <ul>
                    <li>
                        <a href="dashboard.html" class="current">
                            <i class="icon-home"></i>
                            <span>درخواست ها</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard2.html" class="">
                            <i class="icon-home"></i>
                            <span>کاربران</span>
                        </a>
                    </li>
                    <li>
                        <a href="parastoo.html" class="">
                            <i class="icon-home"></i>
                            <span>دسته بندی ها </span>
                        </a>
                    </li>
                    <li>
                        <a href="yekan.html" class="">
                            <i class="icon-home"></i>
                            <span></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->