@model App.Domain.Core.Entities.Services.Category

@{
    ViewData["Title"] = "Categories Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>جزییات دسته بندی</h2>

<dl>
    <dt>عنوان</dt>
    <dd>@Model.Title</dd>

    <dt>آپلود عکس </dt>
    <dd>
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Model.Image" class="img-thumbnail" style="max-width: 200px">
        }
    </dd>
</dl>

<h4>دسته بندی های فرعی (@Model.Subcategories.Count)</h4>
<ul>
    @foreach (var sub in Model.Subcategories)
    {
        <li>@sub.Title</li>
    }
</ul>

<a asp-action="Index" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> بازگشت
</a>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}