@model App.Domain.Core.Entities.Services.SubCategory

@{
    ViewData["Title"] = "SubCategory Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>جزییات دسته بندی فرعی</h2>

<dl>
    <dt>عنوان</dt>
    <dd>@Model.Title</dd>

    <dt>دسته بندی مادر </dt>
    <dd>@Model.Category?.Title</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> بازگشت
</a>