@model App.Domain.Core.Entities.Services.SubCategory

@{
    ViewData["Title"] = "SubCategory Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>ویرایش جزییات </h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>عنوان</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Image">آپلود</label>
        <input asp-for="Image" type="file" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>دسته بندی مادر </label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-warning">اعمال تغیرات</button>
</form>