@using App.Domain.Core.Enums;



@{
    ViewData["Title"] = "Expert Profile";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-8">
        <h2>خوش آمدید @ViewBag.CurrentUser.UserName</h2>
    </div>
</div>