@model List<App.Domain.Core.Entities.Services.Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        دسته بندی ها
    </a>
    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
        @if (Model != null && Model.Any())
        {
            @foreach (var category in Model)
            {
                <li class="dropdown-submenu">
                    <a class="dropdown-item" asp-controller="Services" asp-action="Index" asp-route-categoryId="@category.Id">@category.Title</a>
                    <ul class="dropdown-menu">
                        @foreach (var subcategory in category.Subcategories)
                        {
                            <li><a class="dropdown-item" asp-controller="Services" asp-action="Details" asp-route-subcategoryId="@subcategory.Id">@subcategory.Title</a></li>
                        }
                    </ul>
                </li>
            }
        }
        else
        {
            <li><a class="dropdown-item" href="#">No categories available</a></li>
        }
    </ul>
</li>